.container {
  background: linear-gradient(to right, rgb(204, 100, 100), #eee 20%);
  border: 2px solid #c00;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
  box-shadow: 1px 15px 15px rgb(80, 80, 80);
  height: 550px;
  display: flex;
  flex-direction: column;
}

.title {
  color: #c00;
  font-size: 30px;
  flex-grow: 1;
}

.pubDate {
  font-weight: bold;
  font-size: 12px;
  flex-grow: 1;
}

p {
  font-size: 15px;
  color: rgb(80, 80, 80);
  flex-grow: 1;
}
