.container {
  list-style: none;
  padding: 10px;
  margin: 30px;
  border-radius: 30px;
  box-shadow: 5px 20px 20px rgb(120, 120, 120);
  background: #999;
  border: 2px dashed #666;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

@media screen and (min-width: 400px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 800px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
